@media screen and (min-width: 320px) {
  .character-card {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    max-height: 400px;
    overflow: auto;

    &__img-wrapper {
      display: flex;
      justify-content: center;
    }
    &__image {
      width: 200px;
      margin-bottom: 20px;
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    &__info {
      font-size: 15px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__episode-title {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__episode-item {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  .character-card::-webkit-scrollbar {
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .character-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    max-height: 500px;

    &__image {
      width: 200px;
      height: 200px;
      margin-bottom: 0;
      margin-right: 50px;
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    &__info {
      font-size: 20px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__episode-title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__episode-item {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .character-card {
    padding: 0 100px;
    &__image {
      width: 250px;
      height: 250px;
      margin-right: 100px;
    }

    &__info {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}
