.container {
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (min-width: 320px) {
    width: 320px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 75px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 70px;
  }
}
