@media screen and (min-width: 320px) {
  .section-button {
    margin-bottom: 20px;
  }

  .button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .create-button {
    bottom: 30px;
    right: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 9px;
    border: none;
    border-radius: 100%;
    background-color: $color-dark-orange;
  }
}

@media screen and (min-width: 768px) {
  .create-button {
    bottom: 30px;
    right: 20px;
    padding: 12px;
    font-size: 18px;
    transition: 0.5s;
  }

  .create-button:hover,
  .create-button:focus {
    outline: none;
    transform: scale(1.3);
  }
}

@media screen and (min-width: 1200px) {
  .create-button {
    bottom: 40px;
    right: 300px;
    padding: 20px;
  }
}
