@media screen and (min-width: 320px) {
  .create-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
      width: 250px;
      font-size: 15px;
      margin-bottom: 15px;
      height: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid gray;
      transition: 0.5s;
    }

    &__input:focus {
      outline: none;
      border-bottom: 1px solid $color-black;
    }

    &__button {
      padding: 8px;
      border: none;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .create-form {
    &__input {
      cursor: pointer;
      width: 350px;
      font-size: 20px;
      height: 40px;
    }

    &__button {
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      border-radius: 7px;
    }

    &__button:hover,
    &__button:focus {
      outline: none;
      background-color: $color-black;
      color: $color-white;
      transition: 0.5s;
    }
  }
}

@media screen and (min-width: 1024px) {
  .create-form {
    &__input {
      margin-bottom: 20px;
    }
  }
}
