@media screen and (min-width: 320px) {
  .delete-timer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 80px;
      height: 80px;
      background-image: url("../../image/deleteIcon.svg");
      margin-bottom: 20px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__timer {
      font-size: 20px;
      color: $color-red;
      margin-bottom: 10px;
    }

    &__button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__cancel-button {
      padding: 5px 30px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
    }

    &__delete-button {
      padding: 5px;
      border: none;
      border-radius: 5px;
      color: $color-white;
      background-color: $color-dark-red;
    }
  }
}

@media screen and (min-width: 768px) {
  .delete-timer {
    &__icon {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 25px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 15px;
      margin-bottom: 15px;
    }

    &__timer {
      font-size: 25px;
      margin-bottom: 15px;
    }

    &__button-wrapper {
      flex-direction: row;
      align-items: center;
    }

    &__cancel-button {
      cursor: pointer;
      padding: 7px 32px;
      margin-bottom: 0;
      margin-right: 20px;
      transition: 0.5s;
    }

    &__delete-button {
      cursor: pointer;
      padding: 7px;
      transition: 0.5s;
    }

    &__cancel-button:hover,
    &__cancel-button:focus {
      outline: none;
      background-color: $color-black;
      color: $color-white;
    }

    &__delete-button:hover,
    &__delete-button:focus {
      outline: none;
      background-color: $color-red;
    }
  }
}

@media screen and (min-width: 1200px) {
  .delete-timer {
    &__title {
      font-size: 30px;
    }

    &__timer {
      font-size: 30px;
    }

    &__cancel-button {
      cursor: pointer;
      padding: 7px 32px;
      margin-bottom: 0;
      margin-right: 20px;
    }

    &__delete-button {
      cursor: pointer;
      padding: 7px;
      transition: 0.5s;
    }

    &__delete-button:hover,
    &__delete-button:focus {
      background-color: $color-red;
    }
  }
}
