@media screen and (min-width: 320px) {
  .header {
    padding-top: 30px;
  }
  .main-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .main-title {
    font-size: 35px;
  }
}
