@media screen and (min-width: 320px) {
  .modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    overflow: auto;
  }

  .modal.active {
    opacity: 1;
    pointer-events: auto;
  }

  .modal__content {
    position: relative;
    padding: 48px 20px;
    background-color: $color-white;
  }

  .modal__content-wrapper {
    position: relative;
  }

  .modal__button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }

  .modal__button:hover,
  .modal__button:focus {
    background-color: $color-dark-orange;
  }
}

@media screen and (min-width: 768px) {
  .modal__content {
    padding: 40px 40px;
  }

  .modal__button {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__content {
    padding: 50px 30px;
  }
}
