@media screen and (min-width: 320px) {
  .content-table {
    margin-bottom: 30px;

    &__list-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    &__image {
      width: 190px;
      margin-bottom: 10px;
      pointer-events: none;
      border-radius: 5px;
    }

    &__name {
      font-size: 16px;
      margin-bottom: 10px;
      pointer-events: none;
    }

    &_status {
      pointer-events: none;
    }

    &__button-wrapper {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    &__delete-button {
      cursor: pointer;
      border: none;
      padding: 8px;
      border-radius: 5px;
      background-color: $color-dark-red;
      color: $color-white;
      transition: 0.5s;
    }

    &__delete-button:hover,
    &__delete-button:focus {
      outline: none;
      background-color: $color-red;
    }

    &__edit-button {
      cursor: pointer;
      border: none;
      padding: 8px 17px;
      border-radius: 5px;
      background-color: $color-dark-green;
      color: $color-white;
      transition: 0.5s;
    }

    &__edit-button:hover,
    &__edit-button:focus {
      outline: none;
      background-color: $color-green;
    }
  }
}

@media screen and (min-width: 768px) {
  .content-table {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;

      margin: -10px;
    }

    &__item {
      cursor: pointer;
      margin: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
      transition: 0.5s;

      &:hover {
        box-shadow: 7px 15px 17px 0px rgba(36, 39, 41, 0.2);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .content-table {
    &__image {
      width: 250px;
    }

    &__delete-button {
      padding: 12px;
      font-size: 18px;
    }

    &__edit-button {
      padding: 12px 21px;
      font-size: 18px;
    }
  }
}
